body {
  background-image: url('https://www.bing.com/th?id=OHR.CostadaMorte_PT-BR8389730302_1920x1080.jpg');
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover; 
  background-color: #464646;
}

nav {
  background-color:white;
  height: 60px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

nav img {
  max-height: 60%;
  margin-left: 60px;
}
